ProjectWEB/Connected Services/ServiceMetier/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProjectMetier.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProjectMetier.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Personne">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateNaissance" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prenom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tel" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Personne" nillable="true" type="tns:Personne" />
  <xs:complexType name="ArrayOfPersonne">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Personne" nillable="true" type="tns:Personne" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonne" nillable="true" type="tns:ArrayOfPersonne" />
</xs:schema>